{{#each events}}
<div class="row event">
  <div class="col-sm-2">
    {{#if current_day}}
    <div class="current_day">
      <div class="day">{{current_day.day}}</div>
      <div class="date">{{current_day.date}}</div>
      <div class="month">{{current_day.month}}</div>
    </div>
    {{/if}}
  </div>
  <div class="col-sm-2 time">{{start_time}}-{{end_time}}</div>
  <div class="col-sm-8 details">
    <h2>{{{title}}}</h2>
    <p><strong>Vendors:</strong></p>
    <ul>
    {{#each food_trucks}}
      <li>{{{.}}}</li>
    {{/each}}
  </ul>
   <p><strong>Location:</strong><br/>{{location.name}}<br><a href="{{location.link}}" target="_blank">{{{location.address}}}</a></p>
  </div>
</div>
{{/each}}