{{#if events}}
  {{#if color}}
  <style>
    .events-list-two .event .border{
      border-color: {{color}};
    }
    .events-list-two .event .date{
      background-color: {{color}};
    }
    .events-list-two .share-link{
      border-color: {{color}};
      color: {{color}};
    }
  </style>
  {{/if}}
  <div class="row events-list-two">
  {{#each events}}
    <div class="col-sm-3 event{{#if css_classes}} {{css_classes}}{{/if}}">
      <a class="share-link" href="#" onclick="openWindow(event, 'https://www.facebook.com/sharer/sharer.php?u={{permalink}}')" target="_blank">Click Here to Share</a>
      <div class="border">
        {{#if cancelled}}<div class="banner cancelled">Cancelled <span>Inclement Weather</span></div>{{/if}}
        <div class="date">{{current_day.fulldate}}</div>
        <div class="foodtrucks">
          {{#each food_trucks as | truck | }}
            <div class="row foodtruck">
              {{#if website}}<a href="{{website}}" target="_blank">{{/if}}<img src="{{thumbnail}}" alt="{{name}}" />{{#if website}}</a>{{/if}}
            </div>
          {{/each}}
        </div><!-- .foodtrucks -->
      </div><!-- .border -->
    </div><!-- .col-sm-3.event -->
  {{/each}}
  </div>
{{else}}
  {{{no_events}}}  
{{/if}}